beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
extruct==0.13.0
html-text==0.5.2
html5lib==1.1
idna==3.3
isodate==0.6.1
jstyleson==0.0.2
lxml==4.8.0
mf2py==1.1.2
pyparsing==3.0.9
pyRdfa3==3.5.3
rdflib==6.1.1
rdflib-jsonld==0.6.2
recipe-scrapers==13.32.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.9
w3lib==1.22.0
webencodings==0.5.1
